[DEFAULT]
devices = /srv/node
bind_ip = {{ ansible_eth0.ipv4.address }}
bind_port = 6002
workers = 2

[pipeline:main]
pipeline = recon account-server

[app:account-server]
use = egg:swift#account

[filter:recon]
use = egg:swift#recon
recon_cache_path = /var/swift/recon
account_recon = true

[account-replicator]


[account-auditor]

[account-reaper]
